# ========= Puppet

puppet_server:
    host: host
    user: user
    # version: 4
    environment: production
    cert_file: mykey_cert.pem
    key_file: mykey.pem
    # ca_file: puppet_ca.pem


# ========= Foreman

foreman:
    host: host
    user: user
    pass: pass
    puppet_server: null


# ========= Device 42

device42:
    host: host
    user: user
    pass: passs

# custom fields mapping
# mapping:
#    # puppet field / device42 field
#    system_uptime:
#        uptime: test_field
#    kernel: test_field2



# ========= Options

# static options
static:
    customer: null
    customer_id: null
    service_level: null

options:
    # as_node_name: one of [fqdn, name]
    show_node: True
    as_node_name: fqdn
    hostname_precedence: True
    tags: test, test2, test3
    node_filter: []